@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.main-container {
  height: 800px;
  background-image: url("../assets/fondoinicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-container .main-container__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main-container .main-container__card .main-container__photo {
  border-radius: 50%;
  border: 2px solid;
  border-color: #26858f;
  max-width: 250px;
}
.main-container .main-container__card .main-container__text, .main-container .main-container__card .main-container__link {
  text-align: center;
}
.main-container .main-container__card .main-container__text .different-color, .main-container .main-container__card .main-container__link .different-color {
  color: #26858f;
}
.main-container .main-container__card .main-container__link {
  text-decoration: none;
  color: white;
}

/*Mediaqueries*/
@media only screen and (min-width: 768px) {
  .main-container {
    margin: 120px 0;
    min-height: 600px;
    flex-direction: row;
  }
  .main-container .main-container__card {
    width: 50%;
    justify-content: center;
  }
  .main-container .main-container__card .main-container__name {
    font-size: 3.5rem;
  }
  .main-container .main-container__card .main-container__text, .main-container .main-container__card .main-container__link {
    font-size: 3rem;
    padding: 50px;
  }
  .main-container .main-container__card .main-container__link {
    font-size: 3rem;
    transition: color 0.7s;
  }
  .main-container .main-container__card .main-container__link:hover {
    font-weight: 600;
    color: #26858f;
  }
}
/* Estilos para la seccion CONTACTO*/
.contact-container {
  min-height: 800px;
  background-image: url("../assets/contacto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contact-container__title" "contact-container__text" "contact-container__info" "contact-container__form";
}
.contact-container .contact-container__title {
  grid-area: contact-container__title;
  margin: auto;
}
.contact-container .contact-container__text {
  grid-area: contact-container__text;
  margin: 20px auto;
  text-align: center;
}
.contact-container .contact-container__info {
  grid-area: contact-container__info;
  margin: 20px auto;
}
.contact-container .contact-container__form {
  grid-area: contact-container__form;
  text-align: center;
  width: 70%;
  margin: 20px auto;
}
.contact-container .contact-container__campos {
  width: 100%;
  resize: none;
  border: none;
  margin: 2px;
  opacity: 70%;
  transition: opacity 0.7s;
}
.contact-container .contact-container__campos:focus {
  opacity: 100%;
}

/*Mediaqueries*/
@media only screen and (min-width: 768px) {
  .contact-container {
    margin: 120px 0;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "contact-container__title contact-container__title" "contact-container__text contact-container__form" "contact-container__info contact-container__form";
  }
  .contact-container__text {
    grid-area: contact-container__text;
    font-size: 3rem;
  }
  .contact-container__title {
    grid-area: contact-container__title;
    font-size: 2rem;
  }
  .contact-container__info {
    grid-area: contact-container__info;
    font-size: 1.5rem;
  }
  .contact-container__form {
    grid-area: contact-container__form;
  }
}
/* Estilos para la seccion "Trayectoria" */
.career-container {
  min-height: 800px;
  background-image: url("../assets/trayectoria.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.career-container .career-container__title {
  text-align: center;
  padding: 25px 0;
}
.career-container .career-container__parrafo {
  text-align: center;
}
.career-container .career-card {
  opacity: 90%;
  max-width: 500px;
}
.career-container .career-card .card-photo {
  height: 250px;
}

/*Mediaqueries*/
@media only screen and (min-width: 768px) {
  /* Mediaqueries para la seccion TRAYECTORIA*/
  .career-container {
    margin: 120px 0;
    min-height: 600px;
  }
  .career-container .career-card {
    opacity: 70%;
    transition: opacity 1.2s;
  }
  .career-container .career-card:hover {
    opacity: 100%;
  }
}
/* Estilos para la seccion "Proyectos" */
.project-container__mobile {
  height: 800px;
  background-image: url("../assets/proyectos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.github-link {
  text-decoration: none;
  color: white;
  transition: color 0.7s;
}

/*Mediaqueries*/
@media only screen and (min-width: 768px) {
  .project-container__mobile {
    margin: 120px 0;
    min-height: 600px;
  }
  .github-link:hover {
    font-weight: 600;
    color: #26858f;
  }
}
/* Estilos para la seccion "Sobre Mi" */
.about-me-container {
  min-height: 800px;
  background-image: url("../assets/sobremi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me-container .download-buttom {
  background-color: #26858f;
  border: none;
}
.about-me-container .download-buttom a {
  text-decoration: none;
  color: white;
}
.about-me-container .progress-bar {
  width: 75%;
}
.about-me-container .barra-de-progreso {
  opacity: 70%;
  background-color: #0ef;
}

/*Mediaqueries*/
@media only screen and (min-width: 768px) {
  /*Mediaqueries para la seccion SOBRE-MI*/
  .about-me-container {
    margin: 120px 0;
    min-height: 600px;
  }
}
/*Estilos generales*/
body {
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: white;
}

.main-title {
  display: inline;
  width: auto;
  font-size: 3.5rem;
  font-weight: 700;
  border-bottom: 1px solid #26858f;
}

.subtitles {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 400;
}

.main.text {
  display: inline;
  font-size: 2rem;
  font-weight: 400;
}

.download-buttom {
  background-image: linear-gradient(90deg, #0ef, #26858f);
}

/*Estilos para la barra de navegacion*/
.navbar {
  background-color: #26858f;
}
.navbar .nav-link__active {
  font-weight: 700;
}

/*Mediaqueries para la barra de navegacion y footer*/
@media only screen and (min-width: 768px) {
  body {
    background: linear-gradient(0deg, #26858f 0%, black 15%, black 85%, #26858f 100%);
  }
  .navbar {
    background-color: transparent;
  }
  .footer-icons__insta:hover {
    color: #f37a99;
  }
  .footer-icons__youtube:hover {
    color: #FF0000;
  }
  .footer-icons__facebook:hover {
    color: #1877F2;
  }
  .footer-icons__linkedin:hover {
    color: #0A66C2;
  }
}

/*# sourceMappingURL=style.css.map */
