@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.main-container {
  height: 800px;
  background-image: url("../assets/fondoinicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-container .main-container__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main-container .main-container__card .main-container__photo {
  border-radius: 50%;
  border: 2px solid;
  border-color: #26858f;
  max-width: max-content;
}
.main-container .main-container__card .main-container__text {
  text-align: center;
}
.main-container .main-container__card .main-container__text .text-color {
  color: #26858f;
}
.main-container .main-container__card .main-container__link {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 2rem;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
  .main-container {
    margin: 120px 0;
    min-height: 600px;
    flex-direction: row;
  }
  .main-container .main-container__card {
    width: 50%;
    justify-content: center;
  }
  .main-container .main-container__card .main-container__name {
    font-size: 3.5rem;
  }
  .main-container .main-container__card .main-container__text {
    font-size: 3rem;
    padding: 50px;
  }
  .main-container .main-container__card .main-container__link {
    font-size: 3rem;
    transition: color 0.7s;
  }
  .main-container .main-container__card .main-container__link:hover {
    font-weight: 600;
    color: #26858f;
  }
}
/* Estilos para la seccion CONTACTO*/
.contact-container {
  height: 800px;
  background-image: url("../assets/contacto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contact-container__title" "contact-container__text" "contact-container__form";
}
.contact-container .contact-container__title {
  grid-area: contact-container__title;
  margin: auto;
}
.contact-container .contact-container__text {
  grid-area: contact-container__text;
  margin: auto;
  text-align: center;
}
.contact-container .contact-container__form {
  grid-area: contact-container__form;
  text-align: center;
  width: 75%;
  margin: auto;
}
.contact-container .contact-container__campos {
  width: 100%;
  resize: none;
  border-radius: 5px;
  margin: 2px;
}

/*Mediaqueries*/
@media screen and (min-width: 768px) {
  .contact-container {
    margin: 200px 0;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "contact-container__text contact-container__title" "contact-container__text contact-container__form";
  }
  .contact-container__text {
    grid-area: contact-container__text;
    font-size: 3rem;
  }
  .contact-container__title {
    grid-area: contact-container__title;
    font-size: 3.5rem;
  }
  .contact-container__form {
    grid-area: contact-container__form;
  }
}
body {
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: white;
}

/*Estilos para la barra de navegacion*/
.navbar {
  background-color: #26858f;
}
.navbar .nav-link__active {
  font-weight: 700;
}

/*Mediaqueries para la barra de navegacion*/
@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(0deg, #26858f 0%, black 15%, black 85%, #26858f 100%);
  }
  .navbar {
    background-color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
