/*Estilos generales*/
body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.main-title{
    @include title-h1;
}
.subtitles{
    @include title-h2;
}
.main.text{
    @include parrafo;
}

.download-buttom{
    background-image: linear-gradient(90deg, $color-secundario, $color-principal);
}


/*Estilos para la barra de navegacion*/

.navbar {
    background-color: $color-principal;
    .nav-link__active
        {font-weight: 700;
        }
    }
    
/*Mediaqueries para la barra de navegacion y footer*/
    @include desktop {
        body{
            background:  linear-gradient(0deg, $color-principal 0%, black 15%, black 85%, $color-principal 100%);
        }
        .navbar{
            background-color: transparent;
        }
        .footer-icons__insta:hover{
            color: map-get($icons-color, instagram);
        }
        .footer-icons__youtube:hover{
            color: map-get($icons-color, youtube);
        }
        .footer-icons__facebook:hover{
            color: map-get($icons-color, facebook);
        }
        .footer-icons__linkedin:hover{
            color: map-get($icons-color, linkedin);
        }
    }

