    /* Estilos para la seccion "Proyectos" */

    .project-container__mobile{
        height: $mobile-height;
        @include background-img ('../assets/proyectos.jpg');    
    }
    .github-link{
        text-decoration: none;
        color: white;
        transition: color 0.7s;
        }
    

     /*Mediaqueries*/
     @include desktop{
        .project-container__mobile{
            @include main-size;
        }
        .github-link:hover{
            font-weight: 600;
            color: $color-principal;}
    }