    /* Estilos para la seccion "Sobre Mi" */
    
    .about-me-container{
        min-height: $mobile-height;
        @include background-img('../assets/sobremi.jpg');
        .download-buttom{
            background-color: $color-principal;
            border: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .competencias{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "html css"
          "sass boot"; 
        .logos{
            height: 125px;
            width: 125px;
        }
    }
    


    /*Mediaqueries*/
    @include desktop{
                            
        /*Mediaqueries para la seccion SOBRE-MI*/
    
        .about-me-container{
            @include main-size;
        }
        .competencias{    
            display: flex;
            justify-content: space-around;
        }
    }