    /* Estilos para la seccion "Sobre Mi" */
    
    .about-me-container{
        height: $mobile-height;
        @include background-img('../assets/sobremi.jpg');
        .download-buttom{
            background-color: $color-principal;
            border: none;
        }
    .barra-de-progreso{
        opacity: 80%;
        background-color: #0ed;
    }

    }
    


    /*Mediaqueries*/
    @media screen and (min-width: 768px) {
                            
        /*Mediaqueries para la seccion SOBRE-MI*/
    
        .about-me-container{
            @include desktop-size;
        }
    }