    /* Estilos para la seccion "Trayectoria" */
    
    .career-container{
        min-height: $mobile-height;
        @include background-img ('../assets/trayectoria.png');
        .career-container__title{
            text-align: center;
            padding: 25px 0;
        }
        .career-container__parrafo{
            text-align: center;}
        .career-card{
                opacity: 90%;
                max-width: 500px;
                .card-photo{
                    max-height: 250px;
                }
        }
    }

    /*Mediaqueries*/
    @include desktop{
                    
        /* Mediaqueries para la seccion TRAYECTORIA*/
    
    
        .career-container{
            @include main-size;
            .career-card{
                opacity: 70%;
                transition: opacity 1.2s;
                &:hover{
                    opacity: 100%;
                }
        }
    }}